<template>
  <card class="card" :title="title">
<div v-if="error!=''" class="alert alert-danger" role="alert">
  {{error}}
</div>
<div v-if="success!=''" class="alert alert-success" role="alert">
  {{success}}
</div>
    <div>
      <form method="post" @submit.prevent="emitSubmit()">
	    <div class="row" v-if="isAdmin">
		  <div class="col-md-12">
		    <div class="form-group">
			  <label class="control-label">Account Type</label>
		      <select class="custom-select" v-model="user.type">
				<option>Administrator</option>
				<option>Member</option>
			  </select>
			</div>
		  </div>
		</div>
        <div class="row">
          <div class="col-md-5">

            <fg-input type="text"
                      label="Username"
                      placeholder="Username"
                      v-model="user.username">
            </fg-input>
          </div>
          <div class="col-md-7">
            <fg-input type="email"
                      label="Email"
                      placeholder="Email"
                      v-model="user.email">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="First Name"
                      placeholder="First Name"
                      v-model="user.firstname">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="text"
                      label="Last Name"
                      placeholder="Last Name"
                      v-model="user.lastname">
            </fg-input>
          </div>
        </div>

		<hr>

		<div class="row">
			<div class="col-md-6">
				<fg-input type="password"
						label="New Password"
						v-model="user.newpass"
						placeholder="New Password">
				</fg-input>
			</div>
			<div class="col-md-6">
				<fg-input type="password"
						label="Confirm Password"
						v-model="user.newpassconfirm"
						placeholder="Confirm Password">
				</fg-input>
			</div>
		</div>

		<hr>
		
		<div class="row">
			<div class="col-md-6">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="sshpass" v-model="user.disablePassword" true-value="yes" false-value="no">
                <label class="form-check-label" for="sshPass">Disable SSH Password Login</label>
              </div>
			</div>
			<div class="col-md-6">
				<p-button @click="showModal=true" v-if="user.totpEnabled" nativeType="button" type="danger">Disable TOTP</p-button>
				<p-button @click="enableTotp" v-if="!user.totpEnabled" nativeType="button" type="success">Enable TOTP</p-button>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">
				<fg-input type="text"
						label="Docker Image"
						v-model="user.image"
						placeholder="Docker Image">
				</fg-input>
			</div>
		</div>

        <div class="text-center">
          <p-button :loading="waiting" nativeType="submit" type="info"
                    round>
            {{submit}}
          </p-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
				<p-modal ok="Disable" @ok="disableTotp" @close="showModal=false" v-if="user.totpEnabled && showModal" title="Disable TOTP" type="danger">Are you sure you want to disable TOTP for this account?</p-modal>
				<p-modal ok="Enable" @ok="submitTotp" @close="showModal=false" v-if="!user.totpEnabled && showModal" title="Enable TOTP" type="success">
				<qrcode :value="getOtpString" :options="{width:350}"></qrcode>
				<fg-input type="text" label="Code" v-model="totp.code" placeholder="Code"></fg-input>
				</p-modal>
  </card>
</template>
<script>
import api from "@/api/index.js"
export default {
  props: ["waiting","success","error", "user", "title", "submit"],
  data(){
	return {
		showModal:false,
		totp:{
			signedSecret:"",
			code:"",
			},
	}
  },
  computed: {
    isAdmin() {
      return this.$store.getters.isAdmin;
    },
	getOtpString(){
		var issuer=window.location.hostname
		var secret=""
		var period=30
		var algorithm="SHA1"
		var digits=6
		var spl=this.totp.signedSecret.split('.')
		if(spl.length==3){
			var j=JSON.parse(atob(spl[1]))
			secret=j.secret
			period=j.period
			algorithm=j.algorithm
			digits=j.digits
		}
		return "otpauth://totp/"+issuer+":"+this.user.email+"?secret="+secret+"&issuer="+issuer+"&period="+period+"&algorithm="+algorithm+"&digits="+digits
	}
  },
  methods: {
	emitSubmit(){
		this.$emit('emitSubmit')
	},
	disableTotp(){
		var self=this
		api.disableTotp(this.user.id).then(function(data){
			self.user.totpEnabled=false
			self.showModal=false
		}).catch(function(err){
			self.error=err
			self.showModal=false
		})
	},
	submitTotp(){
		var self=this
		api.enableTotp(this.user.id,this.totp).then(function(data){
			self.user.totpEnabled=true
			self.showModal=false
		}).catch(function(err){
			self.error=err
			self.showModal=false
		})
	},
	enableTotp(){
		var self=this
		api.generateTotp(this.user.id).then(function(data){
			self.totp.signedSecret=data.signedSecret
			self.showModal=true
		}).catch(function(err){
			self.error=err
		})
	},
  }
};
</script>
<style>
</style>
