<template>
    <div class="row">
      <div class="col-12">
        <card title="SSH Keys">
<div v-if="error!=''" class="alert alert-danger" role="alert">
  {{error}}
</div>
          <div slot="raw-content" class="table-responsive">
  <table class="table table-striped">
    <thead>
    <slot name="columns">
      <th width="15%">Name</th>
      <th width="45%">Fingerprint</th>
      <th width="25%">Date</th>
      <th width="15%">-</th>
    </slot>
    </thead>
    <tbody>
    <tr v-if="keys.length>0" v-for="item in keys" :key="item.fingerprint">
        <td>
          {{item.name}}
        </td>
        <td>
          {{item.fingerprint}}
        </td>
        <td>
          {{item.date}}
        </td>
        <td><p-button type="danger" round @click.native.prevent="deleteKey(item.fingerprint)">Delete</p-button></td>
    </tr>
	<tr v-if="keys.length==0">
	  <td colspan="4" class="text-center">No SSH Public Keys Uploaded On This Account!</td>
	</tr>
    </tbody>
  </table>
          </div>
        </card>
      </div>

	  <div class="col-12">
	    <card title="Add Ssh Key">
<div v-if="addError!=''" class="alert alert-danger" role="alert">
  {{addError}}
</div>
		    <form method="post" @submit.prevent="addPublicKey">
		      <fg-input type="text"
			            label="Name"
						placeholder="Name"
						v-model="upload.name">
			  </fg-input>
			  <div class="form-group">
			    <label>Public Key</label>
			    <textarea rows="5" class="form-control border-input"
			              placeholder="Public Key"
					  	  v-model="upload.key">
			    </textarea>
			  </div>
              <div class="text-center">
                <p-button :loading="waiting" nativeType="submit" type="info"
                          round>
                          Add Public Key
                </p-button>
              </div>
              <div class="clearfix"></div>
			</form>
		</card>
	  </div>
    </div>
</template>
<script>
import api from "@/api/index.js";
export default {
  props: ["user"],
  data() {
    return {
	  waiting:false,
	  error:"",
	  addError:"",
      upload: {},
      keys: []
    };
  },
  created() {
	if(this.user.id==undefined){
		return
	}
	var self=this;
	api.getUsersKeys(this.user.id)
      .then(function(data) {
        self.keys = data;
		self.error=""
      })
      .catch(function(err) {
		self.error=err
      });
  },
  methods: {
    deleteKey(key) {
	  var self=this;
	  api.deleteUserKey(this.user.id,key)
        .then(function(resp) {
		  self.error=""
          for (var i = 0; i < self.keys.length; i++) {
            if (self.keys[i].fingerprint == key) {
              self.keys.pop(i);
              return;
            }
          }
        })
        .catch(function(err) {
		  self.error=err
        });
    },
    addPublicKey() {
	  this.waiting=true
	  var self=this
	  api.addUsersKey(this.user.id,this.upload)
        .then(function(resp) {
		  self.waiting=false
		  self.addError=""
		  self.upload={}
		  self.keys.push(resp)
        })
        .catch(function(err) {
		    self.waiting=false
			self.addError=err
        });
    }
  }
};
</script>
<style>
</style>
