<template>
  <card class="card-user">
    <div slot="image">
	<span>&nbsp;</span>
    </div>
    <div>
      <div class="author">
        <img class="avatar border-white" :src="gravatarImage" alt="...">
        <h4 class="title">{{user.firstname}} {{user.lastname}}
          <br>
            <small>{{user.type}}</small>
        </h4>
      </div>
    </div>
  </card>
</template>
<script>
import md5 from "js-md5";
export default {
  props: ["user"],
  computed: {
    gravatarImage: function() {
      return "https://www.gravatar.com/avatar/" + md5(this.user.email);
    }
  },
  methods: {
    getClasses(index) {
      var remainder = index % 3;
      if (remainder === 0) {
        return "col-lg-3 offset-lg-1";
      } else if (remainder === 2) {
        return "col-lg-4";
      } else {
        return "col-lg-3";
      }
    }
  }
};
</script>
<style>
</style>
