<template>
<form method="post" @submit.prevent="signin" action="">
<card class="card" title="Signin">
<div v-if="error!=''" class="alert alert-danger" role="alert">
  {{error}}
</div>
<fg-input type="text" label="Email" v-model="login.email" placeholder="Email"></fg-input>
<fg-input type="password" label="Password" v-model="login.password" placeholder="Password"></fg-input>
<div class="text-center">
<p-button :loading="waiting" nativeType="submit" type="info" round>Signin</p-button>
</div>
<br />
<div class="text-center">
<router-link :to="{name:'register'}"><a>Don't have an Account?</a></router-link>
</div>
</card>
</form>
</template>

<script>
export default {
  data() {
    return {
	  waiting:false,
	  error: "",
      login: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    signin() {
	  this.waiting=true
      if (this.login.email.trim() == "" || this.login.password.trim() == "") {
		this.waiting=false
		this.error="Invalid Credentials"
        return;
      }
	  var self=this
      this.$store.dispatch("login", this.login)
        .then(function(data) {
		  self.waiting=false
		  self.error=""

		  var spl=data.token.split('.')
		  if(spl.length==3){
		    var j=JSON.parse(atob(spl[1]))
			if(!j.authorized){
				self.$router.push({name:"auth"})
				return
			}
		  }
          self.$router.push("/");
        })
        .catch(function(err) {
		  self.waiting=false
          self.error=err
          console.log(err);
        });
    }
  }
};
</script>
