<template>
<form method="post" @submit.prevent="signup" action="">
<card class="card" title="Sign Up">
<div v-if="error!=''" class="alert alert-danger" role="alert">
  {{error}}
</div>
<fg-input type="text" label="Email" v-model="register.email" placeholder="Email"></fg-input>
<fg-input type="password" label="Password" v-model="register.password" placeholder="Password"></fg-input>
<fg-input type="password" label="Confirm Password" v-model="register.confirm" placeholder="Confirm Password"></fg-input>
<div class="text-center">
<p-button :loading="waiting" nativeType="submit" type="info" round>Sign up</p-button>
</div>
<br />
<div class="text-center">
<router-link :to="{name:'login'}"><a>Already have an Account?</a></router-link>
</div>
</card>
</form>
</template>

<script>
export default {
  data() {
    return {
	  waiting:false,
	  error:"",
      register: {
		email:"",
		password:"",
		confirm:"",
		}
    };
  },
  methods: {
    signup() {
	  this.waiting=true
	  var self=this
	  if(this.register.email==""||this.register.password==""){
		self.waiting=false
        this.error="No Fields Must Be Blank"
		return
	  }else if(this.register.password!=this.register.confirm){
		self.waiting=false
		this.error="Passwords do not match"
		return
	  }
      this.$store
        .dispatch("register", this.register)
        .then(function(resp) {
		  self.waiting=false
		  self.error=""
          self.$router.push("/");
        })
        .catch(function(err) {
		  self.waiting=false
		  self.error=err
        });
    }
  }
};
</script>
