<template>
<form method="post" @submit.prevent="authorize" action="">
<card class="card" title="Totp Required">
<div v-if="error!=''" class="alert alert-danger" role="alert">
  {{error}}
</div>
<fg-input type="text" label="Code" v-model="login.code" placeholder="Code"></fg-input>
<div class="text-center">
<p-button :loading="waiting" nativeType="submit" type="info" round>Authorize</p-button>
</div>
</card>
</form>
</template>

<script>
export default {
  data() {
    return {
	  waiting:false,
	  error: "",
      login: {
        code: "",
      }
    };
  },
  methods: {
    authorize() {
	  this.waiting=true
      if (this.login.code.trim() == "") {
		this.waiting=false
		this.error="Invalid Totp Code"
        return;
      }
	  var self=this
      this.$store.dispatch("authorize", this.login)
        .then(function(data) {
		  self.waiting=false
		  self.error=""
          self.$router.push("/");
        })
        .catch(function(err) {
		  self.waiting=false
          self.error=err
          console.log(err);
        });
    }
  }
};
</script>
