<template>
    <div class="row">
      <div class="col-12">
        <card title="Users" subTitle="Authorized Users for This Server">
<div v-if="error!=''" class="alert alert-danger" role="alert">
  {{error}}
</div>
          <div slot="raw-content" class="table-responsive">
		    <table class="table table-striped">
			  <thead>
			    <th>Type</th>
			    <th>Name</th>
			    <th>Email</th>
				<th>-</th>
			  </thead>
			  <tbody>
			    <tr v-for="item in users" :key="item.email">
				  <td>{{item.type}}</td>
				  <td><router-link :to="{name:'profile',params:{userid:item.id}}"><a>{{item.firstname}} {{item.lastname}}</a></router-link></td>
				  <td><router-link :to="{name:'profile',params:{userid:item.id}}"><a>{{item.email}}</a></router-link></td>
				  <td><p-button type="danger" round @click.native.prevent="deleteUser(item.id)">Delete</p-button></td>
			    </tr>
			  </tbody>
			</table>
          </div>
        </card>
      </div>
      <div class="col-12">
	    <edit-profile-form :waiting="waiting" :error="createError" title="Create User" v-on:emitSubmit="createUser" submit="Create User" :user="user">
		</edit-profile-form>
      </div>
	</div>
</template>
<script>
import EditProfileForm from "./UserProfile/EditProfileForm.vue";
import api from "@/api/index.js";

export default {
  data() {
    return {
	  waiting:false,
	  error:"",
	  createError:"",
      user: {},
      users: []
    };
  },
  created() {
	var self=this;
	api.getUsers()
      .then(function(data) {
        self.users = data;
		self.error=""
      })
      .catch(function(err) {
		self.error=err
      });
  },
  methods: {
	createUser(){
		this.waiting=true
		var self=this
		api.createUser(this.user)
		.then(function(data){
		    self.waiting=false
			self.users.push(data)
			self.user={}
			self.createError=""
		}).catch(function(err){
		    self.waiting=false
			self.createError=err
		})
	},
    deleteUser(id) {
	  var self=this
	  api.deleteUser(id)
        .then(function(resp) {
		  self.error=""
          for (var i = 0; i < self.users.length; i++) {
            if (self.users[i].id == id) {
			  self.users.pop(i)
              return;
            }
          }
        })
        .catch(function(err) {
		  self.error=err
        });
    }
  },
  components: {
    EditProfileForm
  }
};
</script>
<style>
</style>
