<template>
    <div class="row" v-if="">
      <div class="col-xl-4 col-lg-5 col-md-6">
        <user-card :user="user">

        </user-card>
      </div>
      <div class="col-xl-8 col-lg-7 col-md-6">
        <edit-profile-form :waiting="waiting" :success="success" :error="error" title="Edit Profile" v-on:emitSubmit="updateProfile" submit="Update Profile" :user="user">

        </edit-profile-form>
		
		<ssh-keys-table v-if="user.id" :user="user">
		</ssh-keys-table>
      </div>
    </div>
</template>
<script>
import EditProfileForm from "./UserProfile/EditProfileForm.vue";
import UserCard from "./UserProfile/UserCard.vue";
import SshKeysTable from "./UserProfile/SshKeysTable.vue";
import {mapGetters,mapActions} from 'vuex'
import api from "@/api/index.js"

export default {
  data() {
    return {
	  waiting:false,
	  error: "",
	  success:"",
      user: {
		email:"",
		newpass:"",
		newpassconfirm:"",
		}
    };
  },
  methods:{
    updateProfile() {
		this.waiting=true
		this.success=""
		this.error=""
		if (this.user.newpass!=undefined && this.user.newpass!=""){
			if(this.user.newpass!=this.user.newpassconfirm){
				this.waiting=false
				this.error="Passwords Do Not Match"
				return
			}
		}
	  var self=this
	  api.updateUser(this.user.id,this.user).then(function(data){
		self.waiting=false
		self.success="Profile Updated"
	  })
        .catch(function(err) {
		  self.waiting=false
		  self.error=err
        });
    }
  },
  computed:{
	...mapGetters(['getUserId']),
  },
  created() {
	var self=this;
	if(this.$route.params.userid!=undefined){
		api.getUser(this.$route.params.userid).then(function(data){
				self.user=data;
				if(self.user.disablePassword){
					self.user.disablePassword="yes"
				}else{
					self.user.disablePassword="no"
				}
				self.error=""
			}).catch(function(err){
				self.error=err
			})
	}else{
		var f=function(newValue,oldValue){
			if(newValue!=undefined){
				api.getUser(self.getUserId).then(function(data){
					self.user=data;
					if(self.user.disablePassword){
						self.user.disablePassword="yes"
					}else{
						self.user.disablePassword="no"
					}
					self.error=""
				}).catch(function(err){
					self.error=err
				})
			}
		}
		if(this.getUserId!=undefined){
			f(this.getUserId,undefined)
		}else{
			this.$store.watch((state) => state.user.id, f)
		}
	}
  },
  components: {
    EditProfileForm,
    UserCard,
    SshKeysTable
  }
};
</script>
<style>
</style>
