<template>
<div>
<div class="wrapper wrapper-full-page">
<div data-color="" data-image="static/img/background/background-2.jpg" class="full-page login-page">
<div class="content">
<div class="container">
<div class="row">
<div class="col-md-5 col-sm-12">
    <router-view></router-view>
</div>
</div>
</div>
</div>

<div class="full-page-background" style="background-image: url('static/img/background/background-2.jpg');"></div>

</div>
</div>
</div>
</template>
<style lang="scss">
.wrapper.wrapper-full-page {
  height: auto;
  min-height: 100vh;
}
.full-page {
  height: auto;
  min-height: 100vh;
  background: url("https://demos.creative-tim.com/paper-dashboard-pro/assets/img/background/background-2.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.full-page > .content {
  padding-top: 20vh;
}
</style>
<script>
</script>
