<template>
  <div class="wrapper">
    <side-bar>
      <template slot="links">
        <sidebar-link to="/profile" name="User Profile" icon="ti-user"/>
        <sidebar-link v-if="isAdmin" to="/users" name="Users" icon="ti-view-list-alt"/>
        <sidebar-link to="/signout" @click.native.prevent="signout" name="Signout" icon="ti-power-off"/>
      </template>
    </side-bar>
    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content @click.native="toggleSidebar">

      </dashboard-content>

      <content-footer></content-footer>
    </div>
  </div>
</template>
<style lang="scss">
</style>
<script>
import store from "@/store.js";
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "./MobileMenu";
import {mapGetters} from 'vuex'

export default {
  components: {
    TopNavbar,
    ContentFooter,
    DashboardContent,
    MobileMenu
  },
  computed: {
	...mapGetters(['isAdmin'])
  },
  methods: {
    signout() {
      var router = this.$router;
      store
        .dispatch("logout")
        .then(function() {
          router.push({ name: "login" });
        })
        .catch(function(err) {
          console.log(err);
          router.push({ name: "login" });
        });
    },
    toggleSidebar() {
      if (this.$sidebar.showSidebar) {
        this.$sidebar.displaySidebar(false);
      }
    }
  }
};
</script>
