<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <slot name="header">
              {{title}}
            </slot>
          </div>

          <div class="modal-body">
            <slot>
              default body
            </slot>
          </div>

          <div class="modal-footer">
            <slot name="footer">
			  <p-button nativeType="button" :type="type" @click="$emit('ok')">{{ok}}</p-button>
			  <p-button nativeType="button" type="default" @click="$emit('close')">{{cancel}}</p-button>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
export default {
  name: "p-modal",
  props: {
    type: {
      type: String,
      default: "info"
    },
	title:{
		type: String,
		default:"Example Modal",
	},
	cancel:{
		type: String,
		default:"Cancel",
	},
	ok:{
		type: String,
		default:"OK"
	}
  }
};
</script>
<style>
</style>
